body {
  width: 80%;
  margin: auto;
}
table {
  height: 50px;
  width: 80%;
  margin: 0 auto;
}
h1 {
  color: #00bfff;
}
.container {
  height: 100%;
  width: 90%;
  background-color: lightgray;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
.head {
  width: 100%;
  text-align: center;
  color: red;
}
p {
  font-weight: bold;
}
#dauhang {
  width: 20%;
}
#used {
  width: 99%;
}
td {
  color: black;
  font-weight: bold;
}
.button {
  width: 100%;
  text-align: center;
}
button {
  background-color: #00bfff;
  color: white;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin: 0px 10px;
}
button:hover {
  background-color: lightskyblue;
}
