body {
  width: 80%;
  background-color: white;
  margin: auto;
}

header {
  height: 100px;
  width: 100%;
  background-color: #00bfff;
}

header img {
  display: block;
  margin: auto;
  height: 90px;
  padding: 5px;
}

.container {
  width: 100%;
  margin-bottom: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  position: relative;
  padding-left: 30px;
  left: 0;
}

.thongtinchung,
.thongtinlienhe,
.thongtintaikhoan {
  width: 100%;
}

.thongtinchung div img {
  height: 100px;
}

.thongtinchung div table {
  width: 100%;
}

.thongtinchung div table tr {
  padding-right: 20%;
}

.thongtinchung div table tr td {
  margin: 20px;
}

.thongtinlienhe table,
.thongtintaikhoan table {
  margin: 0 auto;
  width: 100%;
  font-weight: bold;
}

.thongtinlienhe table tr td input,
.thongtintaikhoan table tr td input,
input.input-fullwidth,
textarea {
  width: 80%;
}

.input-fullwidth {
  width: 100%;
}

.button {
  margin-top: 50px;
  display: flex;
  justify-items: center;
  justify-content: center;
}

button {
  background-color: #00bfff;
  border: none;
  height: 40px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  font-size: 18px;
  color: #fff;
  min-width: 100px;
  padding: 0 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: lightskyblue;
}

.thongtintaikhoan table tr td b {
  color: red;
}

.thongtinchung b,
.thongtinlienhe b,
.thongtintaikhoan b {
  font-size: 20px;
}

footer {
  text-align: center;
  background-color: rgb(19, 19, 108);
  color: white;
  padding: 10px;
  font-size: 14px;
}

.thongtinlienhe,
.thongtintaikhoan table {
  margin: 0 auto;
  position: relative;
}

table tr td:first-child {
  width: 150px;
  font-weight: bold;
}
