.content {
  position: relative;
  top: 20px;
  background-color: #007fff;
}
.function {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  position: relative;
  z-index: 2;
}
.tableInfo table th {
  background-color: lightgray;
}
.tableInfo {
  position: absolute;
  width: 100%;
  top: 15px;
  z-index: 1;
}
th {
  height: 30px;
}
#Documents,
#classrooms {
  width: 100%;
}
.function .change button {
  height: 30px;
  width: 120px;
  position: relative;
  left: 10px;
  border-radius: 10px 10px 0px 0px;
}
.function .Search {
  position: relative;
  right: 30px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.function .Search input {
  height: 100%;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.function .Search button {
  position: absolute;
  left: 88%;
  width: 60px;
  height: 107%;
  bottom: 1px;
  border-radius: 00px 10px 10px 0px;
}
#requestDocuments {
  display: none;
  border: solid 1px;
  border-radius: 10px;
  width: 70%;
  background-color: white;
  position: absolute;
  z-index: 1000;
  padding: 10px;
  left: 200px;
}
#requestDocuments h2 {
  text-align: center;
}
#requestDocuments table {
  background-color: lightgray;
}
#requestDocuments table td {
  border-right: none;
  padding-left: 5px;
}

#requestDocuments table tr td:nth-child(n + 1) {
  width: 150px;
  border-right: none;
  font-weight: bold;
}
#requestDocuments .response {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  height: 30px;
}
#requestDocuments .response button {
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: green;
  font-weight: bold;
}
#requestDocuments .response button:hover {
  background-color: lightgreen;
}
#requestDocuments .response button:first-child {
  background-color: red;
}
#requestDocuments .response button:first-child:hover {
  background-color: lightcoral;
}
#requestClassrooms {
  display: none;
  border: solid 1px;
  border-radius: 10px;
  width: 70%;
  background-color: white;
  position: absolute;
  z-index: 1000;
  padding: 10px;
  left: 200px;
}
#requestClassrooms h2 {
  text-align: center;
}
#requestClassrooms table {
  background-color: lightgray;
}
#requestClassrooms table td {
  border-right: none;
  padding-left: 5px;
}

#requestClassrooms table tr td:nth-child(n + 1) {
  width: 150px;
  border-right: none;
  font-weight: bold;
}
#requestClassrooms .response {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
  height: 30px;
}
#requestClassrooms .response button {
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: green;
  font-weight: bold;
}
#requestClassrooms .response button:hover {
  background-color: lightgreen;
}
#requestClassrooms .response button:first-child {
  background-color: red;
}
#requestClassrooms .response button:first-child:hover {
  background-color: lightcoral;
}
@media (max-width: 780px) {
  .function {
    display: flex;
    flex-direction: column;
  }
}
