#container {
  width: 65%;
  margin: auto;
  background-color: whitesmoke;
  border: solid 2px white;
}
header {
  position: sticky;
  top: 0;
  z-index: 100000;
  background-color: white;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #007bff;
}
.imgTitle {
  flex: 2;
}
.imgTitle img {
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}
.titleHeader {
  flex: 3;
  background-color: #007bff;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.titleHeader img {
  width: 30px;
  height: 30px;
}
.titleHeader strong {
  display: block;
  font-size: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .Background {
  width: 100%;
  height: 700px;
}
.navigation {
  background-color: #00008b;
  padding: 0;
  margin: 0;
  color: white;
  cursor: pointer;
}
.MenuLevel1 {
  display: flex;
  height: 50px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.MenuLevel1 li a {
  display: block;
  width: 100%;
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.navigation ul li {
  list-style: none;
}
.MenuLevel1 li {
  height: 100%;
  display: flex;
  align-items: center;
}

.MenuLevel2 {
  display: none;
  position: absolute;
  top: 100%;
  margin-left: -50px;
  height: 30px;
}

.MenuLevel2 li {
  position: relative;
  border-bottom: solid white 1px;
  background-color: #00008b;
  width: 200px;
}
.MenuLevel2 a {
  width: 100%;
  height: 100%;
  display: flex;

  align-content: center;
}
.MenuLevel1 li:hover .MenuLevel2 {
  display: block;
}
.MenuLevel2 li:hover {
  background-color: #007bff;
}
.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-content: center;
  align-items: center;

  background-color: #00008b;
  color: white;
}
